@media screen and (max-width: 556px) {
    .bar{
        display: block;}
    .nav-button{
        display: none; }
    .get-body-section{
        flex-direction: column;}
        
    .get-body-details{
        max-width: 90%;
    
    }
    .get-body-title{
        font-size: 2.6rem;
        margin-bottom: 20px; }
     .get-body-image{
        margin-left: -50px;
        width: 100%;
       
    }
     .get-body-image img{
        margin-left: -50px;
       
     }
     .card-1, .card-2{
        width: 200px;
        height: 100px;
     }
    
    /* Change your habit start */
   .habit-container{
    max-width: 90%;
    
    
   }
    .habit-info{
       width: 100%; }
    .img-card{
        margin-bottom: 35px;
    }
    
    .habit-card{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);}
        .img-card img{
        margin-left: 20%;
             }
        .habit-container{
            margin-bottom: 30px;
        }
    .run-container{
        grid-template-columns: 1fr;
        gap: 10px;
        
    }
    .run-button{
       margin-left: 10%;
       margin-bottom: 30px;
       
    }
    .bmi-section{
        flex-direction: column;
    }
    .bmi-input{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 0;
   }
   .bmi-input input {
    width: 90%;
   }
   .calculate-bmi{
    width: 100%;
   }
   .calculate-bmi{
    margin-top: 50px;
   }
   /* Calculator section end */

   /* Meet our team section start */
   .meet-images-container{
    grid-template-columns: 1fr;
   }
   .meet-image img{
    width: 100%;
    height: 270px;
    border-radius: 18px;
    }
    /* Fitness section start*/
    .fitness-container{
        flex-direction: column;
    }
    .fitness-info{
        max-width: 100%;
        padding: 0;
    }
    .get-start{
        padding: 0;
    }
    /* Price section start */
    .price-card-container{
        display: grid;
        grid-template-columns: 1fr;
         gap: 20px; 
        margin: 0 10%;

       }
       .price-info ul{
            margin-left: 20%;
       }



    }
