@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

                

/* Shared Style */
.border{
    border: 1px solid red;
}
body{
    background-color:rgb(36, 34, 34);
    
}
.display-flex{
    display: flex;
}
.primary-font{
    font-family: Inter;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
}
.primary-btn{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    }
    .description-font{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
    }
.margin-0{
    margin: 0;
}


/* Navbar style */
.nav-button{
    gap: 47px;
    align-items: center;
}
.nav-button li{
    list-style-type: none;
}
nav{
    background-color: rgb(36, 34, 34);;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
        color: rgb(230, 83, 60);
        font-size: 2.2rem;
        font-weight: 800;
    }
    .all-button{
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 39px;
        padding-right: 30px;
    }
    .all-button ul{
        margin: 0;
        padding: 0;
    }

   .bar{
    font-size: 2rem;
    display: none;
   }

   /* Get body section start */
   .get-body-section{
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
   }
   .shape{
    font-family: Miama;
    font-size: 4.8rem;
    font-weight: 900;
   

   }
   .get-body-details{
    max-width: 45%;
   }
   .get-body-image{
    max-width: 45%;
    position: relative;
   }
   .get-body-img img{
    width: 100%;
   }
   .get-body-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size:4.5rem;
        font-weight: 900;
        margin: 0;
   }
   .card{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    width: 12rem;
    
   }
   .card-1{
    position: absolute;
    top: 30%;
    left: 55%;
   }
   .card-2{
    position: absolute;
    top: 70%;
    left: -30%;
    gap: 10px;
    align-items: center;
   }
   .card-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
   }
   .get-body-btn{
    margin-top: 20px;
   }
   .button-2{
    margin-left: 10px;
    background-color: transparent;
    border: 1px solid white;
   }
   #circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:rgb(230, 83, 60);
    
   
   }

   /* Change your habit start */
  .habit-container{
    max-width: 1200px;
    margin: 100px auto;
  }
   .habit-info{
    width: 50%;
    margin: 0 auto;
   }
   .habit-title{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
   }
   .habit-description{
   text-align: center;
   margin-top: 14px;
   }

   .habit-img-title{
    font-size: 1.5rem;
    color:  rgb(255, 255, 255);
    margin: 0;
    text-align: center;
   }
   .habit-card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  
   }
   .habit-card img{
    border-radius: 50%;
   }
   .img-card{
    margin: 0px 20px;
   }
   .img-card img{
    margin-left: 38px;
    margin-bottom: 20px;
   }
   .habit-img-description{
    text-align: center;
   }
/* Run section start */

.run-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size:3rem;
    font-weight: 900;
    
    }
    .run-container{
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20%;
        padding: 30px;
        border-radius: 18px;
        background-color: rgba(63, 60, 60, 0.445);
    }
    .run-img{
        width: 100%;
        border-radius: 18px;
    }
    .run-button{
        margin-top: 30px;
       padding: 10px 80px
       
    }